PORT=4000
MONGO_URI=mongodb+srv://chandradeeproy98_db_user:7zxZ2FXWLaazHtTc@cluster0.8k9fr7m.mongodb.net/
REDIS_URL=redis://localhost:6379
JWT_ISSUER=http://localhost:4000
ACCESS_TOKEN_EXP=900   # seconds (15 min)
REFRESH_TOKEN_TTL=604800  # seconds (7 days)
DEV_JWKS_KID=devkey1
